
@{
    ViewData["Title"] = "HomeView";
}

<h2>HomeView</h2>


<div background=" C:\Users\piyush tyagi\Desktop\images.jpg">
    <center><h1>SHOPPING</h1></center>
    <marquee behavior=scroll direction=Right scroll amount=50 bgcolor=teal><h1>Happy Shopping!!</h1></marquee>

    <center>
        <a asp-action="Search" asp-controller="Search" tittle="HOME">  <h2>HOME</h2> </a>


        <a href="file:///C:/Users/piyush%20tyagi/Desktop/h.html" tittle="CART"> <h2>CART</h2></a>



        <a href="file:///C:/Users/piyush%20tyagi/Desktop/h.html" tittle="ABOUTUS"><h1>ABOUTUS</h1></a>
    </center>
    <hr color=red size=10>
    <hr color=red size=10>
    </div>

